*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: white;
    --c2: whitesmoke;
    --c3: white;
    --bg: var(--c3);
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    
    background-color: var(--bg);
    background-image:
      linear-gradient(45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--c2) 75%),
      linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
    animation: 
      color var(--d) var(--e) infinite,
      position var(--d) var(--e) infinite;
  }
  
  @keyframes color {
    0%, 25% {
      --bg: var(--c3);
    }
    26%, 50% {
      --bg: var(--c1);
    }
    51%, 75% {
      --bg: var(--c3);
    }
    76%, 100% {
      --bg: var(--c2);
    }
  }
  
  @keyframes position {
    0% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  0), 
        calc(var(--p) * -1) calc(var(--p) *  1), 
        calc(var(--p) *  1) calc(var(--p) * -1), 
        calc(var(--p) * -1) calc(var(--p) *  0);
    }
    25% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  4), 
        calc(var(--p) * -1) calc(var(--p) *  5), 
        calc(var(--p) *  1) calc(var(--p) *  3), 
        calc(var(--p) * -1) calc(var(--p) *  4);
    }
    50% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 8), 
        calc(var(--p) * -3) calc(var(--p) * 9), 
        calc(var(--p) *  2) calc(var(--p) * 7), 
        calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 12), 
        calc(var(--p) * -3) calc(var(--p) * 13), 
        calc(var(--p) *  2) calc(var(--p) * 11), 
        calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {    
      background-position: 
        calc(var(--p) *  5) calc(var(--p) * 16), 
        calc(var(--p) * -5) calc(var(--p) * 17), 
        calc(var(--p) *  5) calc(var(--p) * 15), 
        calc(var(--p) * -5) calc(var(--p) * 16);
    }
  }
  
  @media (prefers-reduced-motion) {
    body {
      animation: none;
    }
  }
  
  
  

.nav_div{
    width: 100%;
    height: 85px;
    display: flex;
    position: relative;
    margin-bottom: 48px;
    align-items:center;
    justify-content: center;
    background-color: transparent;
}

nav{
    width: 100%;
    height: 85px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #eee50a;
}

.logo_nav{
    width: 5%;
    height: 65px;
    margin-left: 6%;
    background-color: transparent;
}

.logo_nav img{
    width: 75px;
    height: 65px;
}

.nav_ul{
    width: 50%;
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    background-color: transparent;
}

.nav_ul ul{
    display: flex;
    list-style: none;
}

.nav_ul li:hover{
    cursor: pointer;
    color: #e5bd2f;
    text-decoration: underline 2px;
}

.nav_ul li{
    margin: 0 20px;
    font-size: 14PX;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.nav_icon{
    width: 7%;
    height: 85px;
    display: flex;
    margin-left: 18%;
    background-color: transparent;
}

.search_icon svg{
    cursor: pointer;
}

.menu_icon svg{
    cursor: pointer;
}

.search_icon{
    width: 50%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.menu_icon{
    width: 50%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.FT_1_div{
    width: 100%;
    height: 600px;
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.FT_1_div_in{
    width: 92.1%;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #eee50a;
}

.FT_pic_div{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.FT_pic_div_in{
    width: 83.5%;
    height: 560px;
    display: flex;
    border-radius: 50%;
    background:url(./pixelcut-export\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.FT_sen_div{
    width: 100%;
    height: 600px;
    background-color: transparent;
}

.FT_sen_h1{
    width: 100%;
    height: 44px;
    display: flex;
    margin-top: 12.5%;
    margin-bottom: 6%;
    font-size: 48px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.FT_sen_p{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5px;
    font-size: 30px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
}

.button_FT_div{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button_FT_div button{
    width: 200px;
    height: 50px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: #e5bd2f;
    border: none;
}



.FT_1_div_1{
    width: 100%;
    height: 600px;
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.FT_1_div_in_1{
    width: 92.1%;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #eee50a;
}

.FT_pic_div_1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.FT_pic_div_in_1{
    width: 83.5%;
    height: 560px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    background:url(./pixelcut-export\ \(8\).png);
    background-repeat: no-repeat;
    background-size: cover;
}


.FT_sen_div_1{
    width: 100%;
    height: 600px;
    background-color: transparent;
}

.FT_sen_h1_1{
    width: 100%;
    height: 44px;
    display: flex;
    font-size: 48px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.FT_sen_p_1{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5px;
    font-size: 30px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
}

.button_FT_div_1{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button_FT_div_1 button{
    width: 200px;
    height: 50px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: #e5bd2f;
    border: none;
}




.FT_1_div_2{
    width: 100%;
    height: 600px;
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.FT_1_div_in_2{
    width: 92.1%;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #eee50a;
}

.FT_pic_div_2{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.FT_pic_div_in_2{
    width: 83.5%;
    height: 560px;
    display: flex;
    border-radius: 50%;
    background:url(./pixelcut-export\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.FT_sen_div_2{
    width: 100%;
    height: 600px;
    background-color: transparent;
}

.FT_sen_h1_2{
    width: 100%;
    height: 44px;
    display: flex;
    font-size: 48px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.FT_sen_p_2{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5px;
    font-size: 30px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
}

.button_FT_div_2{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button_FT_div button:hover{
    background-color: black;
    color: #e5bd2f;
    cursor: pointer;
}
.button_FT_div_1 button:hover{
    background-color: black;
    color: #e5bd2f;
    cursor: pointer;
}
.button_FT_div_2 button:hover{
    background-color: black;
    color: #e5bd2f;
    cursor: pointer;
}

.button_FT_div_2 button{
    width: 200px;
    height: 50px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: #e5bd2f;
    border: none;
}



.way_main_div{
    width: 100%;
    height: 600px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: transparent;
}

.way_main_div_into{
    width: 92.1%;
    height: 600px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color: #eee50a;
}

.parts_div{
    width: 21.57%;
    height: 467px;
    border-radius: 35px;
    background-color: #e5bd2f;
}

.parts_div_circle{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.parts_div_circle_picture{
    width: 66.17%;
    height: 200px;
    border-radius: 50%;
    background:url(./pixelcut-export\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.parts_div_circle_sentence{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    background-color: transparent;
}

.button_div_way{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
    background-color: transparent;
}

.button_div_way button{
    width: 200px;
    height: 50px;
    background-color: #eee50a;
    color: black;
    border: none;
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
}

.button_div_way button:hover{
    background-color: black;
    color: #eee50a;
    cursor: pointer;
}

.parts_div_circle_picture_1{
    width: 66.17%;
    height: 200px;
    border-radius: 50%;
    background:url(./pixelcut-export\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.parts_div_circle_picture_2{
    width: 66.17%;
    height: 200px;
    border-radius: 50%;
    background:url(./pixelcut-export\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_div{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 2%;
}

footer{
    width: 92.1%;
    height: 250px;
    display: flex;
    background-color: #eee50a;
}

.footer_div_h{
    width: 100%;
    height: 60%;
    display: flex;
    background-color: #eee50a;
}

.footer_div_h_1{
    width: 38%;
    height: 100%;
    padding-top: 20px;
    background-color: transparent;
}

.footer_h1{
    width: 100%;
    height: 50%;
    align-items: flex-end;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: transparent;
}

.footer_h1 p{
    margin-left: 16%;
}

.footer_ul{
    width: 100%;
    height: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: transparent;
}

.footer_ul ul{
    list-style: none;
    margin-left: 20%;
}

.footer_p-2{
    width: 62%;
    height: 100%;
    background-color: transparent;
}

.footer_p-2_1{
    width: 100%;
    height: 50%;
    align-items: center;
    margin-top: 1%;
    background-color: transparent;
}

.footer_p-2_1 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
    padding-top: 1.90%;
}

.footer_p-2_2{
    width: 100%;
    height: 44%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.icons{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    background-color: transparent;
}

.f_bottom{
    width: 100%;
}

.icons:hover{
    cursor: pointer;
}